<% content_for(:head) do %>
    <%= javascript_include_tag "resources/index" %>
    <%= stylesheet_link_tag 'niceforms-default' %>
    <script type="text/javascript">
        $(document).ready(function() {
            $.NiceJForms.build();
            $('#keyword').focus();
        });
    </script>
<% end %>

<div id="searchBox">
  <% form_remote_tag :url => search_resources_path, :update => 'results', :complete => 'searchCallback()', :method => :get, :html => { :class => 'niceform' } do %>
      <div id="basicSearch" class="searchBlock">
        <%= label_tag :keyword %>
        <%= text_field_tag :keyword %>
        <%= submit_tag 'search' %>
      </div>
      <div id="advancedSearch" class="searchBlock">
        <p>
          <%= label_tag :location_id %><br/>
          <%= reference_data_collection_select_tag :location %>
        </p>

        <p>
          <%= label_tag :industry_id %><br/>
          <%= reference_data_collection_select_tag :industry %>
        </p>

        <p>
          <%= label_tag :level_id %><br/>
          <%= reference_data_collection_select_tag :level %>
        </p>

        <p>
          <%= label_tag :official_grade_id %><br/>
          <%= reference_data_collection_select_tag :official_grade %>
        </p>

        <p>
          <%= label_tag :department_id %><br/>
          <%= reference_data_collection_select_tag :department %>
        </p>

        <!--div just to clear float of #advancedSearch p-->
        <div style="clear: both"></div>
      </div>
  <% end %>
  <div id="advancedButton">
    <a href="#" title="advanced search">advanced search</a>
  </div>
</div>

<div id="results"></div>
<div id="navigation">
  <div id="government">government</div>
  <div id="finance">finance</div>
  <div id="business">business</div>
  <a class="nav" href="#">government</a>
  <a class="nav" href="#">finance</a>
  <a class="nav" href="#">business</a>
  <a id="returnLink" href="#">return</a>
</div>
<%= link_to_span 'New resource', new_resource_path, :class => 'linkButton' %>