<h1>Listing resources</h1>

<div class="list">
  <div class="listHeader">
    <div class="listColumnTitle">Title</div>
    <div class="listColumnDescription">Description</div>
    <div class="listColumnCreatedAt">Created at</div>
  </div>
  <% for resource in @resources %>
      <div class="listItem">
        <div class="listColumnTitle"><a href="#"><%= h resource.title %></a></div>
        <div class="listColumnDescription"><%= h resource.description %></div>
        <div class="listColumnCreatedAt"><%= h resource.created_at %></div>
        <div class="listTools">
          <%= link_to 'Show', resource %>
          <%= link_to 'Edit', edit_resource_path(resource) %>
          <%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      </div>
  <% end %>
</div>

<br/>

<%= link_to 'New resource', new_resource_path %>
