<% content_for(:head) do %>
    <%= stylesheet_link_tag 'niceforms-default' %>
    <script type="text/javascript">
        $(document).ready(function() {
            $.NiceJForms.build();
            $('#username').focus();
        });
    </script>
<% end %>

<% form_tag nil, :class => 'niceform' do -%>
    <p><label for="username">Login</label><br/>
      <%= text_field_tag 'username' %></p>

    <p><label for="password">Password</label><br/>
      <%= password_field_tag 'password' %></p>

    <!-- Uncomment this if you want this functionality
    <p><label for="remember_me">Remember me:</label>
      <%= check_box_tag 'remember_me' %></p>
    -->

    <p><%= submit_tag 'Log in' %></p>
<% end -%>
