<div class="list">
  <div class="listHeader">
    <div class="listColumn">发送人</div>
    <div class="listColumn">接收人</div>
    <div class="listColumn">创建时间</div>
    <div class="listColumn">标题</div>
    <div class="listColumn">内容</div>
  </div>
  <% @requests.each do |request| %>
      <div class="listItem" onclick="window.location.href='<%= request_path(request) %>';">
        <div class="listColumn"><%= h request.sender_friendly_name %></div>
        <div class="listColumn"><%= h request.receiver_friendly_name %></div>
        <div class="listColumn"><%= h l(request.created_at, :format => :long) %></div>
        <div class="listColumn"><%= h request.messages.last.title %></div>
        <div class="listColumn"><%= h request.messages.last.body %></div>
      </div>
  <% end %>
</div>