<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Resources: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag 'content' %>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'base' %>
</head>
<body>
<div class="page">
  <div id="header">
    <div id="topnav">
      <span><a href="/account/login">Login</a> | <a href="#">Contact</a> | <a href="#">About</a></span>
    </div>
    <h1>Infinite Positive Group</h1>
    <span>A next generation venture incubator, think center and conglomerate company</span>
    <!--begin: #mainNav-->
    <div id="mainNav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Inbox</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="/resources/search">Search</a></li>
        <li><a href="/resources">Resources</a></li>
        <li id="searchArea">
          <form method="get" action="#">
            <input class="searchBox" type="text" value="search here..."/>
            <input class="searchButton" type="submit" value="search"/>
          </form>
        </li>
      </ul>
    </div>
    <!--end: #mainNav-->
  </div>
  <div class="page_margins">
    <div id="main">
      <!-- begin: #col1 - first float column -->
      <div id="col1">
        <div id="col1_content" class="clearfix">
          <div id="inbox">
            <p>inbox</p>
            <ul>
              <li>message1</li>
              <li>message2</li>
            </ul>
          </div>
          <!--being: #pofile-->
          <!--<div id="pofile">-->
          <!--<div id="pofileImg">-->
          <!--<img src="/images/noImgSmall.gif" alt="no img small"/>-->
          <!--</div>-->
          <!--<div id="pofileInfo">-->
          <!--<h3>Zhe Shu</h3>-->

          <!--<p>manager</p>-->
          <!--</div>-->
          <!--<div id="messageNav">-->
          <!--<ul>-->
          <!--<li><a href="#">Inbox(0)</a></li>-->
          <!--<li><a href="#">Some Link</a></li>-->
          <!--<li><a href="#">Some Link</a></li>-->
          <!--</ul>-->
          <!--</div>-->
          <!--</div>-->
          <!--end: #pofile-->
        </div>
        <!--临时写法, 需要删除此段-->
        <div style="min-height: 200px; margin-top: 10px; margin-left: 10px">
          some ads here
        </div>
      </div>
      <!-- end: #col1 -->
      <!-- begin: #col2 - second float column -->
      <div id="col2">
        <div id="col2_content" class="clearfix">
          <div id="content">
            <p style="color: green"><%= flash[:notice] %></p>
            <%= yield %>
          </div>
        </div>
      </div>
      <!-- end: #col2 -->
      <!-- begin: #col3 - third float column -->
      <div id="col3">
        <div id="col3_content" class="clearfix">
          <div id="shopCart">
            <p>shopCart</p>
            <ul>
              <li>item1</li>
              <li>item2</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end: #col3 -->
      <div class="clearBoth"></div>
    </div>
    <!-- end: #main -->
  </div>
  <!--end: #page_margins-->
  <!-- begin: #footer -->
  <div id="footer">
    <div>Copyright &copy; 2009 Infinite Positive Group. All rights reserved.</div>
    <ul id="nav-legal">
      <li>
        <a href="#">User Agreement</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
      <li>
        <a href="#">Copyright Policy</a>
        p
      </li>
    </ul>
    <div id="feedback-request">
      <a href="/#">Help improve us. </a>Send us your feedback.
    </div>
  </div>
  <!-- end: #footer -->
</div>
<!--end: #page-->
</body>
</html>
