<p>
  <b>Sender:</b>
  <%= h display_name(@request, :sender) %>
</p>

<p>
  <b>Receiver:</b>
  <%= h display_name(@request, :receiver) %>
</p>

<p>
  <b>Created at:</b>
  <%= h l(@request.created_at, :format => :long) %>
</p>

<div id="messages">
  <%= render :partial => 'list', :locals => {:messages => @request.messages, :message => @message } %>
</div>

<h1><%= t :reply_message %></h1>
<% remote_form_for(@message, :url => { :action => 'reply' }, :html => { :class => 'niceform' }, :update => 'messages') do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label_t :title %><br/>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label_t :body %><br/>
      <%= f.text_area :body %>
    </p>
    <%= f.hidden_field :request_id %>
    <p>
      <%= f.submit "Reply" %>
    </p>
<% end %>

<%= link_to_span 'Back', requests_path, :class => 'linkButton' %>